h1 {
    font-family: $f-display;
    font-size: $f-largest;
    font-weight: $fw-regular;
    line-height: 60px;
}

#clock {
    color: $color-gray;
    font-size: $f-large;
    font-weight: $fw-medium;
    line-height: 40px;
}