h1 {
    font-family: $f-display;
    font-size: $f-large;
    font-weight: $f-weight-regular;
    line-height: 60px;
}

#clock {
    font-size: $f-medium;
    font-weight: $f-weight-semibold;
    line-height: 40px;
}