// COLORS
// https://medium.com/@sroskelley/theming-in-react-using-sass-variables-26d2d3052c4
$color-primary: #E8B1A3;
// $color-primary-bg
// $color-secondary
// $color-accent
$color-cta: #D94A7F;
$color-light: #f7f7f7;
$color-dark: #111;
$color-gray: #D48BA6;

// SPECIAL
$highlight: dashed 2px #000;

// DARK MODE

// JS MATERIAL
// .darkmode {}

//——————————————————————————

$f-tiny: 14px;
$f-small: 18px;
$f-large: 48px;
$f-largest: 70px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$f-sans: 'Poppins', sans-serif;
$f-display: 'Abril Fatface', cursive;

//——————————————————————————

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-selfcenter {
    display: flex;
    align-self: center;
    justify-self: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}