header {
    grid-column: 3/4;
    grid-row: 1/2;

    // border: $highlight;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.action-panel {
    grid-column: 3/4;
    grid-row: 2/3;

    // border: $highlight;
}