.tooltip {
    position: relative;
    display: inline-block;

    .tooltip-text {
        visibility: hidden;
        background-color: $color-dark;
        color: $color-light;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        font-weight: $fw-medium;
        white-space: nowrap;
    
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%);

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border: 5px solid;
            border-color: transparent transparent $color-dark transparent;
        }
    }

    &:hover .tooltip-text, &:focus .tooltip-text {
        visibility: visible;
        animation: popdown .2s;
    }
}